{% extends 'core/base.html' %}
{% load static %}

{% block title %}CozyNest{% endblock %}

{% block content %}
<header class="py-8 bg-[#a78bfa] text-white">
    <p class="text-3xl lg:text-5xl font-bold text-center text-gray-800">
        Welcome to CozyNest
    </p>
    <p class="text-lg lg:text-2xl text-center text-gray-600 pt-4">
        Your perfect nest for cozy living. Explore our shop, learn about us, or get in touch.
    </p>
    <div class="flex justify-center mt-8">
        <a href="#"
            class="px-4 py-2 text-lg font-semibold text-[#525252] bg-[#99f6e4] rounded-lg shadow-lg hover:bg-[#6ee7b7] transition-colors">
            Shop Now
        </a>
    </div>
</header>
<div class="container mx-auto py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-[#f3f4f6] p-4 rounded-lg shadow-lg">
            <img src="https://d2kz53n3bzvihv.cloudfront.net/resized/790_395_0_255_255_255/media/gbu0/categoryxxl/image/DesktopHeader-P386_NWT008_NWT005_NWT009_B.jpg.jpeg"
                alt="Sofa" class="w-full h-48 object-cover rounded-lg">
            <p class="text-lg font-semibold text-[#525252] mt-4">Furniture</p>
            <p class="text-sm text-gray-600 mt-2">
                Description:We have a wide range of furniture to suit your needs. Whether you're looking for a new sofa,
                bed, or dining table, we have you covered.
            </p>
        </div>
        <div class="bg-[#f3f4f6] p-4 rounded-lg shadow-lg">
            <img src="https://www.spreadhome.com/cdn/shop/files/new_mobile_banners_10.png?v=1721125083&width=1920"
                alt="Bed" class="w-full h-48 object-cover rounded-lg">
            <p class="text-lg font-semibold text-[#525252] mt-4">Bedding</p>
            <p class="text-sm text-gray-600 mt-2">
                Description:Do you want to make your bedroom more comfortable and cozy? We have a wide range of bedding
                products to help you achieve that.
            </p>
        </div>
        <div class="bg-[#f3f4f6] p-4 rounded-lg shadow-lg">
            <img src="https://m.media-amazon.com/images/I/81udF-4Zo8L.jpg" alt="Lamp"
                class="w-full h-48 object-cover rounded-lg">
            <p class="text-lg font-semibold text-[#525252] mt-4">Lighting</p>
            <p class="text-sm text-gray-600 mt-2">
                Description:Brighten up your home with our range of lighting products. We have a variety of lamps and
                lights to suit your needs.
            </p>
        </div>
    </div>
</div>

{% endblock %}